@mixin feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;

  img {
    width: 16.1631rem;
    padding-top: 4rem;
  }

  h3 {
    padding-top: 4.7rem;
    font-family: var(--ff-primary);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: center;
  }

  p {
    padding: 1.05rem 0.5rem 3rem;
    font-family: var(--ff-secondary);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    text-align: center;
  }
}
