@import 'feature';

.growingTogether {
  > article {
    @include feature;

    background-color: var(--clr-very-pale-blue);

    img {
      width: 258.61px;
      padding-top: 4.1rem;
    }

    h3 {
      padding-top: 4.61rem;
    }
  }

  &::before {
    display: block;
    height: 112px;
    background-image: url('@/assets/images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    content: '';
  }

  &::after {
    display: block;
    height: 112px;
    background-image: url('@/assets/images/bg-section-bottom-mobile-1.svg');
    background-repeat: no-repeat;
    content: '';
  }
}
