@import 'reset';

:root {
  --clr-pink: hsl(322deg 100% 66%);
  --clr-light-pink: hsl(321deg 100% 78%);
  --clr-light-red: hsl(0deg 100% 63%);
  --clr-very-dark-cyan: hsl(192deg 100% 9%);
  --clr-very-pale-blue: hsl(207deg 100% 98%);
  --clr-background: hsl(0deg 0% 95% / 100%);
  --clr-text: hsl(192deg 100% 9%);
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
}

body {
  min-height: 4640px;
  color: var(--clr-text);
  font-family: var(--ff-primary);
}
