.hero {
  display: flex;
  min-height: 36.3125rem;
  flex-direction: column;
  justify-content: start;

  > * {
    text-align: center;
  }

  p {
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: var(--ff-secondary);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
  }

  img {
    padding: 6.3rem 0.8rem 0;
  }

  .callToAction {
    padding: 3rem 4rem 0;
  }

  @media (min-width: 1440px) {
    h1 {
      font-size: 3rem;
      line-height: 4.5rem;
    }

    p {
      padding: 1.7rem 22rem;
      font-size: 1.25rem;
      line-height: 1.875rem;
    }

    .callToAction {
      padding: 1.4rem 28.5rem 0;
    }

    img {
      padding: 6.7rem 8.6rem;
    }
  }
}
