.tryItFreeBtn {
  font-family: var(--ff-secondary);
  background-color: white;
  color: var(--clr-pink);
  border: 0.59px solid var(--clr-pink);
  cursor: pointer;
  height: 1.5rem;
  font-size: 9.41px;
  line-height: 12.82px;
  font-weight: 400;
  box-shadow: 0 0 5px rgb(255 82 193 / 21.9%);
  padding: 0 1rem;
  border-radius: 1.125rem;

  @media (min-width: 1440px) {
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.125rem;
    padding: 0 2rem;
  }

  &:hover {
    color: var(--clr-light-pink);
    border: 0.59px solid var(--clr-light-pink);
  }
}
