@import 'features';

.growingTogether {
  &::before {
    display: block;
    height: 112px;
    background-image: url('@/assets/images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    content: '';
  }

  &::after {
    display: block;
    height: 112px;
    background-image: url('@/assets/images/bg-section-bottom-mobile-1.svg');
    background-repeat: no-repeat;
    content: '';
  }

  > article {
    @include feature;

    background-color: var(--clr-very-pale-blue);
  }
}
