.app {
  display: grid;
  align-items: start;
  padding-top: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'heading'
    'hero'
    'stats'
    'features'
    'callToAction'
    'footer';
  grid-template-rows: 8.5rem 43.7125rem 23.7rem repeat(3, auto);
  place-content: center;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    grid-area: heading;

    :last-child {
      width: 4.9rem;
    }
  }

  .hero {
    padding: 0 1.5rem;
    grid-area: hero;
  }

  .stats {
    align-self: self-start;
    grid-area: stats;
    justify-self: center;
  }

  .features {
    grid-area: features;
  }

  .callToAction {
    grid-area: callToAction;
  }

  .footer {
    grid-area: footer;
  }

  @media (min-width: 1440px) {
    padding-top: 4.8375rem;
    padding-right: 3.9375rem;
    padding-left: 3.9375rem;
    grid-template-rows: 16.6rem 36.3125rem repeat(4, minmax(0, 1fr));

    .heading {
      padding-left: 1rem;

      :last-child {
        min-width: 8.4rem;
      }
    }
  }
}
